{% extends 'includes/layout.html' %}

{% block body %}


<main class="container animation-container">

  <div class="wrapper">
    <h1 style="color: rgba(255, 255, 255, 0.2);"> GenStack </h1>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <!-- Add more bubble elements here -->
  </div>

  <div class="p-5 rounded mt-5 " style="background-color: rgba(255, 255, 255, 0.7);">
    <h1>GenStack is more than just a platform – it's an experience fueled by the incredible GPT-3 AI. </h1>
    <p class="lead font-weight-bold"> 
      Welcome to GenStack - Your Own Content Creator!
      
      Elevate your content game with GenStack, the ultimate Flask-based web app that taps into the prowess of OpenAI's AI API. Unleash the potential of AI and watch your revenue soar, whether you're crafting marketing masterpieces or irresistible job descriptions.
    </p>
    <p class="lead font-weight-bold"> All-in-One Solution: HR professionals, say farewell to dull job descriptions. GenStack's got your back with an array of AI-fueled templates that attract top talent effortlessly.

      Ready to witness the future of content creation? Dive into GenStack now and let AI redefine your possibilities!
    </p>
  </div>


  <div class="p-5 rounded mt-1" >
    <div class="row">

      <!-- One Item Starts Here -->

      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Product Description
          </div>
          <div class="card-body">
            <h5 class="card-title"> Generate Product Descriptions </h5>
            <p class="card-text">Unveil irresistible allure with our product description generator! Just input product details, and watch vivid, captivating descriptions flourish. Try it today!</p>
            <a href="/product-description" class="btn btn-secondary btn-block" >Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Job Description
          </div>
          <div class="card-body">
            <h5 class="card-title"> Generate Job Descriptions  </h5>
            <p class="card-text">Baffled by job descriptions? Break free with our AI-powered solution! Bid farewell to writer's block and welcome expertly crafted descriptions. Transform hiring today!</p>
            <a href="/job-description" class="btn btn-secondary btn-block">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Tweet Ideas
          </div>
          <div class="card-body">
            <h5 class="card-title"> Generate Tweets  </h5>
            <p class="card-text">Tweet brilliance awaits! Unleash our hashtag-powered generator for dynamic social media campaigns on Twitter. Break free from writer's block and fuel your feed with limitless creativity. Get tweeting now!</p>
            <a href="/tweet-ideas" class="btn btn-secondary btn-block">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Cold Emails
          </div>
          <div class="card-body">
            <h5 class="card-title">Cold Email Template  </h5>
            <p class="card-text">
              Revolutionize cold emailing! Experience AI-generated brilliance tailored for marketing pros and businesses. Fuel your outreach with dynamic content, generated fresh daily!</p>
            <a href="/cold-emails" class="btn btn-secondary btn-block">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Social Media
          </div>
          <div class="card-body">
            <h5 class="card-title"> Social Media Adverts  </h5>
            <p class="card-text">Ignite your social presence! Explore our dynamic ad ideas to electrify Facebook, Twitter, and Instagram campaigns. Elevate engagement, reach new heights, and fuel your online success today! </p>
            <a href="/social-media" class="btn btn-secondary btn-block">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Business Pitch
          </div>
          <div class="card-body">
            <h5 class="card-title">  Business Idea Pitch </h5>
            <p class="card-text">Ignite curiosity with our business idea generator! Craft compelling pitches effortlessly. From groundbreaking tech to eco-friendly solutions, discover your next big venture. Pitch game now!</p>
            <a href="/business-pitch" class="btn btn-secondary btn-block">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Youtube Videos
          </div>
          <div class="card-body">
            <h5 class="card-title"> Youtube Video Ideas  </h5>
            <p class="card-text"> Embark on a YouTube journey! Our AI-powered generator sparks endless video ideas. Unleash your creativity, captivate audiences, and kick-start your channel today. Let innovation be your guide!</p>
            <a href="/video-ideas" class="btn btn-secondary btn-block">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.7);">
          <div class="card-header bg-primary text-white" style="--bs-bg-opacity: .8;">
            Youtube Description
          </div>
          <div class="card-body">
            <h5 class="card-title"> Youtube Video Description  </h5>
            <p class="card-text"> Elevate your YouTube game! Introducing our AI-powered tool, crafting captivating video descriptions is a breeze. Transform your ideas into intriguing narratives. Unleash the magic now!</p>
            <a href="/video-description" class="btn btn-secondary btn-block">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

    </div>
  </div>
  <footer class="footer">
    <div class="container text-center lead text-white">
      <p>&copy; 2023 GenStack. All rights reserved.</p>
    </div>
  </footer>
</main>
{% endblock %}